---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---
<StarlightPage frontmatter={{ title: 'Coming Soon', template: 'splash' }}>
  <p>BooM!Box is currently under forensic construction.</p>
</StarlightPage>